#root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar{
  width: 15px;
}
::-webkit-scrollbar-track{
  background: #d1e5ff;
}
::-webkit-scrollbar-thumb{
  border-radius: 7px;
  background: linear-gradient(#642bff, #ff22e6);
}

.avatar-update-btn::file-selector-button{
  width: 100%;
  padding: 7px;
  font-weight: 600;
  border: 1px solid hsl(222.2,47.4%,11.2%);
  background: hsl(222.2,47.4%,11.2%);
  cursor: pointer;
  color: #fff;
}

.avatar-update-btn::file-selector-button:hover{
  background: transparent;
  color: hsl(222.2,47.4%,11.2%);
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

#email::placeholder{
  color: #fff;
}

#password::placeholder{
  color: #fff;
}

.loader {
  width: 64px;
  height: 64px;
  position: relative;
  animation: rotate 1.5s ease-in infinite alternate;
}
.loader::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  color: #FF3D00;
  background: currentColor;
  width: 64px;
  height: 32px;
  border-radius: 0 0 50px 50px;
}
.loader::after {
  content: '';
  position: absolute;
  left: 50%;
  top: 10%;
  background: #FFF;
  width: 8px;
  height: 64px;
  animation: rotate 1.2s linear infinite alternate-reverse;
}

@keyframes rotate {
  100% { transform: rotate(360deg)}
}
      